@{
    ViewData["Title"] = "CanvasSample";
}

<h2>@ViewData["Title"]</h2>

<!-- CSS -->
<link rel="stylesheet" href="/css/CanvasSample.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- TypeScriptコンパイル後のJS -->
<script src="/js/CanvasSample.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/CanvasSample.css">
</head>
<body>
    <header h1>これは描画テストです。</header>
    <canvas id="canvas" width="500" height="500"></canvas>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/CanvasSample.js"></script>
</body>
</html>